alembic
branca
certifi
charset-normalizer
click
dnspython
dominate
email-validator
Flask
Flask-Admin
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
folium
GeoAlchemy2
geographiclib
geojson
geopy
greenlet
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
packaging
pandas
plotly
psycopg2
pyparsing
python-dateutil
python-dotenv
pytz
regex
requests
six
SQLAlchemy
tenacity
times
urllib3
visitor
Werkzeug
WTForms
zipp
