{% extends 'bootstrap/base.html' %}

{% from "_macros.html" import mainCarousel %}


{% block title %}
    AmaldiStoria
{% endblock %}


    {% block navbar %}
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">
              <span class="navbar-brand-txt" style="margin-top: -7px;">&nbsp; AmaldiStoria</span>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a id="presentazione" href="{{url_for('presentazione')}}">Presentazione</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dati <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a id="serie_generale" href="{{url_for('serie_generale')}}">Generale</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Dettaglio</li>
                  <li><a href="{{url_for('serie_indirizzo')}}">Indirizzo di studi</a></li>
                  <li><a href="{{url_for('serie_stato')}}">Abbandoni e trasferimenti</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mappe <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{url_for('mapdata')}}">Distribuzione iscritti</a></li>
                  <li><a href="{{url_for('mapdata_time')}}">Distribuzione nel tempo</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Dettaglio</li>
                  <li><a href="{{url_for('map_graph')}}">Statistiche per anno</a></li>
                </ul>
              </li>
              <li><a id="immagini" href="{{url_for('immagini')}}">Immagini</a></li>
              <li><a id="voci" href="{{url_for('voci')}}">Voci</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!-- <li>
                <form class="navbar-form navbar-right" role="search">
                  <div class="form-group has-feedback">
                    <input id="searchtab" type="text" placeholder="" class="form-control">
                    <span id="searchicon" class="fa fa-search form-control-feedback"></span>
                  </div>
                </form>
              </li> -->
              {% if current_user.is_authenticated %}
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ url_for('static', filename='img/user.jpg') }}" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{current_user.username}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img src="{{ url_for('static', filename='img/user.jpg') }}" class="img-circle" alt="User Image">
                    <p>
                      {{current_user.name}} {{current_user.username}}
                    </p>
                    <p><small>Registrato {{moment(current_user.member_since).fromNow(refresh=True)}}</small></p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-right">
                      <a href="{{ url_for('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              {% else %}
              <li class="dropdown user user-menu">
                <a href="{{ url_for('login') }}"><i class="glyphicon glyphicon-leaf"></i> Login</a></li>
              </li>
              {% endif %}
            </ul>

          </div>   <!--/.nav-collapse -->
        </div>   <!--/.container-fluid navbar -->
      </nav>
    {% endblock %}



    {% block content %}

      {% if request.path == "/" or request.path == "/index" %}
        {{ mainCarousel() }}
      {% endif %}

      {# {% if request.path == "/voci" %}
        {{ voiceCarousel() }}
      {% endif %} #}

      {# application content needs to be provided in the app_content block #}
      {% block app_banner %}{% endblock %}

      <div class="container">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}

      </div>


      {# {% if request.path in ["/", "/index", "/credits", "/voci", "/immagini" ]%} #}
        <footer class="footer">
        
          <div class="container">
            <div class="row">
        
            <div class="col-sm-6">
              <div class="ft-subcontainer">
                <!-- <div class="logo-wrap">
                  <a href="https://www.ispc.cnr.it">
                    <img src="{{ url_for('static', filename='img/logos/ispc_mod.svg') }}" class="img-responsive" alt="Responsive image" style="height:70px">
                  </a>
                </div> -->
                <div class="logo-wrap">
                  <a href="https://www.ismed.cnr.it">
                    <img src="{{ url_for('static', filename='img/logos/ismed_mod.png') }}" class="img-responsive" alt="Responsive image" style="height:100px">
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="ft-subcontainer">
                <!-- <p class="ft-prose">
                  <i class="fa fa-home" aria-hidden="true"></i> &nbsp;&nbsp;
                  <a href="https://goo.gl/maps/G1RgkiFvnLNJnCEQ7" target="_blank">
                    Area della Ricerca di Roma 1 – Montelibretti, Via Salaria
                  </a>
                </p>
                <p class="ft-prose">
                  <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;
                  <a href="mailto:maurizio.delfreo@cnr.it?subject=Mail for LiBER editor">Maurizio Del Freo (CNR - ISPC)</a>
                </p> -->
                <hr>
                <p class="ft-prose">
                  <i class="fa fa-home" aria-hidden="true"></i> &nbsp;&nbsp;
                  <a href="https://goo.gl/maps/EM2nuBG87s6H7MT2A" target="_blank">
                    Via Gerolamo Cardano, 135 - Roma
                  </a>
                </p>
                <p class="ft-prose">
                  <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;
                  <a href="mailto:francesco.difilippo@ismed.cnr.it?subject=Mail to AmaldiStoria developer">Francesco Di Filippo (CNR - ISMed)</a>
                </p>
                <p class="ft-prose"> 
                  <span class="text-muted">
                    <small><i class="fa fa-copyright" aria-hidden="true"></i>
                    <a href="http://mdhlab.cnr.it/">MDHLab | CNR - ISMed</a>
                    </small>
                  </span>
                </p>
              </div>
            </div>

            {# <div class="col-sm-4">
              <div class="ft-subcontainer l-logo"></div>
            </div> #}

          </div>
        </div>
      </footer>
    {# {% endif %} #}

    {% endblock %}


{% block styles %}
{{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='css/assets/amaldi_simple.css') }}" rel="stylesheet">
  {# <link href="{{ url_for('static', filename='css/vendor/animate.min.css') }}" rel="stylesheet"> #}
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).ready(function () {
    $("#{{request.endpoint}}").parent().addClass("active");
  });
</script>
{% endblock %}