{% extends "base.html" %}

{% from "_macros.html" import pageCarousel %}


{% block app_banner %}
  
  {{ pageCarousel('Immagini','img/banner_a.jpg') }}

{% endblock %}

{% block app_content %}

    <Legend>I protagonisti</legend>

    <div class="row">
      <div class="col-md-4">
        <img src="/static/img/archive/giulia.jpg" class="img-responsive img-rounded" alt="Responsive image">
        <div class="caption text-muted">PCTO 2021-2022: Giulia Zitelli Conti</div>
      </div>
      <div class="col-md-8">
        <img src="/static/img/archive/24.jpg" class="img-responsive img-rounded" alt="Responsive image">
        <div class="caption text-muted">&copy; Ilaria De Santis</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="margin-top:3rem">
      <div class="col-md-6">
        <img src="/static/img/archive/A18.webp" class="img-responsive img-rounded" alt="Responsive image">
        <div class="caption text-muted">&copy; IIS E. Amaldi</div>
      </div>
      <div class="col-md-6">
        <img src="/static/img/archive/A21.webp" class="img-responsive img-rounded" alt="Responsive image">
        <div class="caption text-muted">&copy; IIS E. Amaldi</div>
      </div>
    </div>

    <!-- <hr> -->
    
    <div class="row" style="margin-top:4rem">
      <h2 style="margin-bottom: 15px;">I fondi archivistici</h2>
      <div class="col-md-6">
        <h3>1. Il fondo IIS E. Amaldi</h3>
        <!-- <p class="prose ">Le fotografie contenute in questo fondo appartengono a Ilaria De Santis, ex studentessa dell’Amaldi che ha frequentato il liceo tra il 1988 ed il 1993.</p>
        <p class="prose ">Le immagini sono state acquisite nel corso di un’intervista a Ilaria De Santis e Maria Gimelli, anch’essa ex alunna dell’Amaldi, registrata dalle studentesse e dagli studenti del pcto il 1° giugno 2023.</p>
        <p class="prose ">Il fondo è composto da 68 fotografie, scattate a scuola o durante una gita ad Ercolano, Paestum e Capri nell’a.s. 1988-89. Laddove presenti, sono state riportate le didascalie scritte a mano sul retro delle stampe per una maggiore contestualizzazione.</p> -->
      </div>
      <div class="col-md-6">
        <h3>2. Il Fondo Ilaria De Santis</h3>
        <p class="prose ">Le fotografie contenute in questo fondo appartengono a Ilaria De Santis, ex studentessa dell’Amaldi che ha frequentato il liceo tra il 1988 ed il 1993.</p>
        <p class="prose ">Le immagini sono state acquisite nel corso di un’intervista a Ilaria De Santis e Maria Gimelli, anch’essa ex alunna dell’Amaldi, registrata dalle studentesse e dagli studenti del pcto il 1° giugno 2023.</p>
        <p class="prose ">Il fondo è composto da 68 fotografie, scattate a scuola o durante una gita ad Ercolano, Paestum e Capri nell’a.s. 1988-89. Laddove presenti, sono state riportate le didascalie scritte a mano sul retro delle stampe per una maggiore contestualizzazione.</p>
      </div>
    </div>

{% endblock %}