{% extends "base.html" %}

{% block app_content %}
<div class="row">
  
  {# contenuto #}
  <div class="col-sm-12">

      <div class="col-sm-8">
        </br>
        {# <p class="prose dropcap"> #}
        <p class="prose">
          Il <code>Centro di Documentazione del Liceo Edoardo Amaldi</code> è un progetto nato nel 2021, dalla collaborazione tra l’istituto scolastico e il <a href="https://www.ismed.cnr.it/">CNR - ISMed</a>. L’obiettivo del progetto è semplice e complesso insieme: costruire uno spazio ragionato di raccolta delle fonti orali, statistiche, documentarie e fotografiche che permetta di fare esperienze di ricerca sulla storia del Liceo e della sua relazione con il territorio circostante. Uno strumento a disposizione di ricercatori e ricercatrici, ma anche, e soprattutto, della scuola. Il progetto, infatti, vuole incentivare lo studio della storia anche attraverso pratiche laboratoriali, dove studenti e docenti possano sperimentare insieme un percorso di ricerca.
        </p>
        <p class="prose dropcap">
          Siamo convinti che solo la didattica attiva possa far apprezzare il metodo storico critico, comprendendone le potenzialità anche nella vita di tutti i giorni, in particolare sviluppando competenze relative alla capacità di analisi delle fonti. Farlo sulla storia della propria scuola è, forse, ancora più motivante e interessante, perché mette in prospettiva storica lo spazio che si abita quotidianamente.<br />
        </p>
        {# <p class="prose">
          <em>Buona navigazione</em>
        </p> #}
        <p class="prose">
          <!-- Lo strumento in cui state navigando è ancora in fase di costruzione e i risultati sono da considerarsi assolutamente provvisori. Il progetto ha coinvolto docenti, studenti e studentesse dell’Istituto coordinati e supervisionati da ricercatori del <a href="https://www.ismed.cnr.it/">CNR - ISMed</a>. -->
          <!-- Sed ut perspiciatis unde omnis iste <a href="#">natus error</a> sit voluptatem accusantium doloremque 
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae 
          vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
          sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
          qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
          incidunt ut labore et dolore magnam aliquam quaerat voluptatem. -->
        </p>
        <blockquote>
          <p class="prose typewriter">
            Se il progetto vi interessa, se volete contribuire anche solo dandoci alcune informazioni o fornendoci materiali, non esitate a contattarci.
          </p>
        </blockquote>
        {# <p class="prose">
          La costruzione del <code>Centro di Documentazione</code> è insieme un progetto di ricerca e un progetto didattico, che prova a far fare un’esperienza laboratoriale di storia, immettendo gli studenti nel vivo di un’attività di ricerca reale. Una piccola sperimentazione, quindi, che vuole però fattivamente contribuire al rinnovamento della didattica della storia.
          Se il progetto vi interessa, se volete contribuire anche solo dandoci alcune informazioni o fornendoci materiali, non esitate a contattarci.
        </p>
        <blockquote>
          <p class="prose typewriter">Il nostro lavoro è appena iniziato!</p>
        </blockquote>
        <p class="prose">Buona consultazione!</p> #}

        {# <div class="hidden-sm hidden-md hidden-lg">
            <audio controls style="margin: 0.4rem 0 1rem 0;">
                <!-- <source src="horse.ogg" type="audio/ogg"> -->
                <source src="{{ url_for('static', filename='media/Ventris_BBC.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <p class="help-block">
                Original recording from BBC ©, July 1st 1952
                <a href="https://www.bbc.com/news/av/magazine-22799109"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </p>
        </div> #}

        <!-- <p class="prose">
            Shortly afterwards he came into contact with John Chadwick, an ancient Greek specialist from 
            Cambridge, who collaborated with him to write the founding article of Mycenaean epigraphy, 
            “Evidence for Greek Dialect in the Mycenaean Archives” (<em>Journal of Hellenic Studies</em> 1953) 
            and the first reference book on Linear B, <em>Documents in Mycenaean Greek</em> (Cambridge 1956).
        </p>
        <blockquote>
        <p class="prose">
            We currently possess more than <b>6,000 Linear B inscriptions</b>, mostly from palatial 
            contexts dating from the 14th-13th centuries BC. The vast majority of them are clay tablets 
            of economic content.
        </p>
        </blockquote> -->
        <hr>
      </div>

      <div class="col-sm-4">
          <p class="title-box text-center prose" style="color:#fff;">
              Un progetto del
              <a href="https://www.liceo-amaldi.edu.it/" style="color:#fff;font-weight:700">Liceo Amaldi di Roma</a>
              e </br>dell'
              <a href="https://www.ismed.cnr.it" style="color:#fff;font-weight:700">Istituto di Studi sul Mediterraneo</a>
              del Consiglio Nazionale delle Ricerche
          </p>
          <br>
          <dl id="authors">
              <h3>
                  Coordinamento </br>
                  <!-- scientifico e tecnico: -->
              </h3>
              <dt>Danilo Corradi / Susanna Mattarocci / </br>Domenico Zito / Maria Rocco</dt>
              <dd class="dd-sub"><em>Liceo Amaldi (Roma)</em></dd>
              <dt>Michele Colucci / Francesco Di Filippo</dt>
              <dd class="dd-sub"><em>ISMed (CNR)</em></dd>
              <dt>Giulia Zitelli Conti <small> &nbsp;&nbsp; </small></dt>
              <dd class="dd-sub"><em>Università degli Studi Roma Tre - AISO</em></dd>
          </dl>

          <div class="clearfix"></div>
          
          {# <div class="hidden-xs">
              <audio controls style="margin: 5rem 0 1rem 0;">
                  <!-- <source src="horse.ogg" type="audio/ogg"> -->
                  <source src="{{ url_for('static', filename='media/Ventris_BBC.mp3') }}" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <p class="help-block">
                  Original recording from BBC ©, July 1st 1952
                  &nbsp; <a href="https://www.bbc.com/news/av/magazine-22799109"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
              </p>
          </div> #}

      </div>

      <div class="col-sm-12">
          <h2 style="margin-bottom: 15px;">Hanno lavorato con noi</h2>
          <h3>2023-2024 <small>(17 studenti)</small></h3>
          <p class="prose ">
            Matteo Bellucci (5DLT), Sara Brighella (4BC), Siria Cerniglia (4BC), Beatrice Larocca (4BC), Andrea Luongo (4BC), Martina Premutico (4BC), Ilaria Sales (4BC), Lucrezia Sforza (4BC), Valeria Sorbara (4BC), Aurora Vizzari (4BC), Katia Kapinga Ndimba Bilolo (5BL), Marta Catino (5DLT), Leonardo Malafarina (5DLT), Annalisa Mammola (5DLT), Linda Petruccetti (5DLT), Davide Vitagliano (5DLT), Danilo Zollino (5DLT).
          </p>
          <h3>2022-2023 <small>(20 studenti)</small></h3>
          <p class="prose ">
            Nicolò Ferrante (3A), Martina Calandro (3bc), Beatrice Larocca (3bc), Andrea Luongo (3bc), Martina Premutico (3bc), Ilaria Sales (3bc), Lucrezia Sforza (3bc), Valeria Sorbara (3bc), Aurora Vizzari (3bc), Corciu Beatris (3c), Marta Catino (4dlt), Leonardo Malafarina (4dlt), Annalisa Mammola (4dlt), Linda Petruccetti (4dlt), Davide Vitagliano (4dlt), Danilo Zollino (4dlt), Samuel Gnisci (5c), Matteo Farcomeni (5c), Daniele Panella (5c), Valeria Vilona (5c).
          </p>
          <h3>2021-2022 <small>(22 studenti)</small></h3>
          <p class="prose ">
            Silvia Longo (3AS), Chiara Colaianni (3AS), Andrea Moro (3AS), Federico Calcagna (3AS), Luca Ferracuti (3AS), Cecilia Testoni (3AS), Leonardo Malafarina (3DLT), Matteo Bellucci (3DLT), Marialetizia Fiorenza (3DLT), Davide Vitagliano (3DLT), Linda Petruccetti (3DLT), Danilo Zollino (3DLT), Konstantina Sotiropoulos (4AC), Giulia Micheletti (4AC), Melissa Esposito (4ILT), Emanuela Santoni (4C), Niccolò Marino  (4C), Fabrizio Saltarello (4C), Dylan Marcelli (4C), Simone Delfini (4C), Andrea Toni (4C), Sonica Osadiaye (4C).
          </p>
      </div>

      {# <div class="col-sm-4">
          <div class="panel panel-default" style="margin-top: 20px;">
              <div class="panel-heading">
                  <h3 class="panel-title">AmaldiStoria in numeri:</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group">
                      <li class="list-group-item">
                          <span class="badge"> 4406 </span>
                          <a href="#">Documents:</a>
                      </li>
                      <li class="list-group-item">
                          <span class="badge"> 17901 </span>
                          <a href="#">Words:</a>
                      </li>
                      <li class="list-group-item">
                          <span class="badge"> 4677 </span>
                          <a href="#">Unique forms:</a>
                      </li>
                      <li class="list-group-item">
                          <span class="badge"> 34748 </span>
                          <a href="#">Total signs:</a>
                      </li>
                  </ul>
              </div>
          </div>

          <br>
      
      </div> #}

      <div class="clearfix"></div>
      <!-- <div class="col-sm-4">
          <p class="prose">
              All document images are reproduced with the <em>Greek Ministry of Culture and Sports’</em> kind 
              permission and are intended for personal, non-profit use only. The rights of the depicted documents 
              belong to the Greek Ministry of Culture and Sports (Greek Law 3028/2002). Any reproduction or 
              publication in whatever form (print, digital, etc.) is strictly prohibited.
          </p>
      </div>
      <div class="col-sm-4">
          <p class="prose">
              Texts are reproduced with the kind permission of their respective authors. Their limited re-use in 
              scholarly work is allowed according to common academic practices, in which case users are kindly 
              requested to include a reference to LiBER and its URL > <a href="http://liber.cnr.it/">liber.cnr.it</a> <.
          </p>
      </div>
      <div class="col-sm-4">
          <p class="prose">
              Both text encoding and search engine have been adapted to Linear B from the 
              <a href="https://www.degruyter.com/document/doi/10.1515/9783110607208-005/html">Progetto Sinleqiunnini</a>, 
              a Document Management System developed by Francesco Di Filippo, already employed for the cuneiform archives 
              from <a href="http://ebda.cnr.it/">Ebla</a> and <a href="http://virgo.unive.it/emaronline/cgi-bin/index.cgi">Emar</a>.
          </p>
      </div> -->
      
      {# <div class="col-sm-4">
          <div class="panel panel-box">
              <div class="panel-thumbnail"><img src="{{ url_for('static', filename='img/museum.jpg') }}" class="img-responsive"></div>
              <div class="panel-body">
              <!-- <h3 id="panel-h3" class="text-center">Materials</h3> -->
              <h3 id="panel-h3">Materials</h3>
              <p class="prose">All document images are reproduced with the kind permission of the 
                  <a href="https://www.culture.gov.gr/en/SitePages/default.aspx">Hellenic Ministry of Culture and Sports</a> 
                  and are intended for personal, non-profit use only. The rights of the depicted documents 
                  belong to the Hellenic Ministry of Culture and Sports (Greek Law 3028/2002). 
                  <!-- Any reproduction or publication in whatever form (print, digital, etc.) is strictly prohibited. -->
              <span class="text-muted">
                  © Hellenic Ministry of Culture and Sports / Hellenic Cultural Resources
                  Managing and Development Organization (HCRMDO)
              </span>
              </p>
              </div>
          </div>
      </div> #}

      {# <div class="col-sm-4">
          <div class="panel panel-box">
              <div class="panel-thumbnail"><img src="{{ url_for('static', filename='img/permission.jpg') }}" class="img-responsive"></div>
              <div class="panel-body">
              <h3 id="panel-h3">Terms of use</h3>
              <p class="prose">Texts are reproduced with the kind permission of their respective authors. Their limited re-use in 
                  scholarly works is allowed according to standard academic practices. In this case, please include a reference 
                  to LiBER in the following form:
              </br>
              <span class="text-muted">
                  Del Freo M., Di Filippo F. 2019, <em>Linear B Electronic Resources (LiBER v.2)</em>, viewed 16 March 2021, 
                  <a href="https://liber.cnr.it/">&lt;https://liber.cnr.it/&gt;</a>.
              </span>
              </p>
              </div>
          </div>
      </div> #}

      {# <div class="col-sm-4">
          <div class="panel panel-box">
              <div class="panel-thumbnail"><img src="{{ url_for('static', filename='img/code.jpg') }}" class="img-responsive"></div>
              <div class="panel-body">
              <h3 id="panel-h3">Development</h3>
              <p class="prose">Both text encoding and search engine have been adapted to Linear B from the 
                  <a href="https://www.degruyter.com/document/doi/10.1515/9783110607208-005/html">Progetto Sinleqiunnini</a>, 
                  a Document Management System developed by Francesco Di Filippo, already employed for the cuneiform archives 
                  from <a href="http://ebda.cnr.it/">Ebla</a> and <a href="http://virgo.unive.it/emaronline/cgi-bin/index.cgi">Emar</a>.</p>
              </div>
          </div>
      </div> #}

      <!-- <div class="clearfix"></div>
      <hr> -->

  </div>
  {# contenuto END col-sm-8 #}

  <!-- <div class="col-sm-1"></div> {# margine destro #} -->

</div>
{% endblock %}