{% extends "base.html" %}

{% block app_content %}
<div class="row">
  
  {# contenuto #}
  <div class="col-sm-12">

      <div class="col-sm-8">
        </br>
        <p class="prose dropcap">
          Benvenuti e benvenute nel portale del <code>Centro di Documentazione del Liceo Amaldi di Roma</code>.
          <!-- Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>, sed do eiusmod tempor incididunt ut labore et 
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. <code>Duis aute</code> irure dolor in reprehenderit in voluptate velit esse cillum dolore 
          eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
          deserunt mollit anim id est laborum. -->
        </p>
        <p class="prose">
          Lo strumento in cui state navigando è ancora in fase di costruzione e i risultati sono da considerarsi assolutamente provvisori. Il progetto ha coinvolto docenti, studenti e studentesse dell’Istituto coordinati e supervisionati da ricercatori del <a href="https://www.ismed.cnr.it/">CNR - ISMed</a>.
          <!-- Sed ut perspiciatis unde omnis iste <a href="#">natus error</a> sit voluptatem accusantium doloremque 
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae 
          vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
          sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
          qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
          incidunt ut labore et dolore magnam aliquam quaerat voluptatem. -->
        </p>
        <blockquote>
            <p class="prose typewriter">
              Il nostro obiettivo è quello di costruire uno strumento di raccolta ed elaborazione di dati, fonti scritte e orali, archivistiche e fotografiche che contribuiscano alla ricerca e alla ricostruzione della storia del nostro Istituto e del suo rapporto con il complesso territorio in cui è collocato. Abbiamo prodotto serie storiche (che potete consultare nelle sezioni “dati” e “mappe”), raccolto interviste con il prezioso aiuto di una ricercatrice dell’AISO (che potete trovare nella sezione “voci”), infine abbiamo elaborato una prima Timeline che raccoglie alcune delle trasformazioni che il Liceo ha avuto nel corso dei suoi trent’anni di storia e che a breve potrà essere consultabile.
            </p>
        </blockquote>
        <p class="prose">
          La costruzione del <code>Centro di Documentazione</code> è insieme un progetto di ricerca e un progetto didattico, che prova a far fare un’esperienza laboratoriale di storia, immettendo gli studenti nel vivo di un’attività di ricerca reale. Una piccola sperimentazione, quindi, che vuole però fattivamente contribuire al rinnovamento della didattica della storia.
          Se il progetto vi interessa, se volete contribuire anche solo dandoci alcune informazioni o fornendoci materiali, non esitate a contattarci.
        </p>
        <blockquote>
          <p class="prose typewriter">Il nostro lavoro è appena iniziato!</p>
        </blockquote>
        <p class="prose">Buona consultazione!</p>

        {# <div class="hidden-sm hidden-md hidden-lg">
            <audio controls style="margin: 0.4rem 0 1rem 0;">
                <!-- <source src="horse.ogg" type="audio/ogg"> -->
                <source src="{{ url_for('static', filename='media/Ventris_BBC.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <p class="help-block">
                Original recording from BBC ©, July 1st 1952
                <a href="https://www.bbc.com/news/av/magazine-22799109"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </p>
        </div> #}

        <!-- <p class="prose">
            Shortly afterwards he came into contact with John Chadwick, an ancient Greek specialist from 
            Cambridge, who collaborated with him to write the founding article of Mycenaean epigraphy, 
            “Evidence for Greek Dialect in the Mycenaean Archives” (<em>Journal of Hellenic Studies</em> 1953) 
            and the first reference book on Linear B, <em>Documents in Mycenaean Greek</em> (Cambridge 1956).
        </p>
        <blockquote>
        <p class="prose">
            We currently possess more than <b>6,000 Linear B inscriptions</b>, mostly from palatial 
            contexts dating from the 14th-13th centuries BC. The vast majority of them are clay tablets 
            of economic content.
        </p>
        </blockquote> -->
        <hr>
      </div>

      <div class="col-sm-4">
          <p class="title-box text-center prose" style="color:#fff;">
              Un progetto del
              <a href="https://www.liceo-amaldi.edu.it/" style="color:#fff;font-weight:700">Liceo Amaldi di Roma</a>
              e </br>dell'
              <a href="https://www.ismed.cnr.it" style="color:#fff;font-weight:700">Istituto di Studi sul Mediterraneo</a>
              del Consiglio Nazionale delle Ricerche
          </p>
          <br>
          <dl id="authors">
              <h3>
                  Coordinamento </br>
                  <!-- scientifico e tecnico: -->
              </h3>
              <dt>Danilo Corradi / Susanna Mattarocci / </br>Domenico Zito</dt>
              <dd class="dd-sub"><em>Liceo Amaldi (Roma)</em></dd>
              <dt>Michele Colucci / Francesco Di Filippo</dt>
              <dd class="dd-sub"><em>ISMed (CNR)</em></dd>
              <dt>Giulia Zitelli Conti <small> &nbsp;/&nbsp; </small></dt>
              <dd class="dd-sub"><em>Associazione Italiana di Storia Orale (AISO)</em></dd>
              <!-- <dt>Susanna Mattarocci <small> &nbsp;/&nbsp; </small></dt>
              <dd class="dd-sub"><em>Liceo Amaldi (Roma)</em></dd> -->
              <!-- <dt>Mimmo <small> &nbsp;/&nbsp; </small></dt>
              <dd class="dd-sub"><em>Liceo Amaldi (Roma)</em></dd>
              <dt>Michele Colucci <small> &nbsp;/&nbsp; </small></dt>
              <dd class="dd-sub"><em>ISMed (CNR)</em></dd>
              <dt>Francesco Di Filippo <small> &nbsp;/&nbsp; </small></dt>
              <dd class="dd-sub"><em>ISMed (CNR)</em></dd>
              <dt>Giulia Zitelli Conti <small> &nbsp;/&nbsp; </small></dt>
              <dd class="dd-sub"><em>Associazione Italiana di Storia Orale (AISO)</em></dd> -->
          </dl>
          <dl id="authors">
            <h3>Realizzazione</h3>
          </dl>
          <div class="clearfix"></div>
          
          {# <div class="hidden-xs">
              <audio controls style="margin: 5rem 0 1rem 0;">
                  <!-- <source src="horse.ogg" type="audio/ogg"> -->
                  <source src="{{ url_for('static', filename='media/Ventris_BBC.mp3') }}" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <p class="help-block">
                  Original recording from BBC ©, July 1st 1952
                  &nbsp; <a href="https://www.bbc.com/news/av/magazine-22799109"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
              </p>
          </div> #}

      </div>

      {# <div class="col-sm-8">
          <h2 style="margin-bottom: 15px;">Il Progetto</h2>
          <p class="prose ">
            Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. <code>Duis aute</code> irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
          </p>
          
          <p class="prose dropcap">
            Sed ut perspiciatis unde omnis iste <a href="#">natus error</a> sit voluptatem accusantium doloremque 
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae 
            vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
            qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
            incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          </p>

      </div> #}

      {# <div class="col-sm-4">
          <div class="panel panel-default" style="margin-top: 20px;">
              <div class="panel-heading">
                  <h3 class="panel-title">AmaldiStoria in numeri:</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group">
                      <li class="list-group-item">
                          <span class="badge"> 4406 </span>
                          <a href="#">Documents:</a>
                      </li>
                      <li class="list-group-item">
                          <span class="badge"> 17901 </span>
                          <a href="#">Words:</a>
                      </li>
                      <li class="list-group-item">
                          <span class="badge"> 4677 </span>
                          <a href="#">Unique forms:</a>
                      </li>
                      <li class="list-group-item">
                          <span class="badge"> 34748 </span>
                          <a href="#">Total signs:</a>
                      </li>
                  </ul>
              </div>
          </div>

          <br>
      
      </div> #}

      <div class="clearfix"></div>
      <!-- <div class="col-sm-4">
          <p class="prose">
              All document images are reproduced with the <em>Greek Ministry of Culture and Sports’</em> kind 
              permission and are intended for personal, non-profit use only. The rights of the depicted documents 
              belong to the Greek Ministry of Culture and Sports (Greek Law 3028/2002). Any reproduction or 
              publication in whatever form (print, digital, etc.) is strictly prohibited.
          </p>
      </div>
      <div class="col-sm-4">
          <p class="prose">
              Texts are reproduced with the kind permission of their respective authors. Their limited re-use in 
              scholarly work is allowed according to common academic practices, in which case users are kindly 
              requested to include a reference to LiBER and its URL > <a href="http://liber.cnr.it/">liber.cnr.it</a> <.
          </p>
      </div>
      <div class="col-sm-4">
          <p class="prose">
              Both text encoding and search engine have been adapted to Linear B from the 
              <a href="https://www.degruyter.com/document/doi/10.1515/9783110607208-005/html">Progetto Sinleqiunnini</a>, 
              a Document Management System developed by Francesco Di Filippo, already employed for the cuneiform archives 
              from <a href="http://ebda.cnr.it/">Ebla</a> and <a href="http://virgo.unive.it/emaronline/cgi-bin/index.cgi">Emar</a>.
          </p>
      </div> -->
      
      {# <div class="col-sm-4">
          <div class="panel panel-box">
              <div class="panel-thumbnail"><img src="{{ url_for('static', filename='img/museum.jpg') }}" class="img-responsive"></div>
              <div class="panel-body">
              <!-- <h3 id="panel-h3" class="text-center">Materials</h3> -->
              <h3 id="panel-h3">Materials</h3>
              <p class="prose">All document images are reproduced with the kind permission of the 
                  <a href="https://www.culture.gov.gr/en/SitePages/default.aspx">Hellenic Ministry of Culture and Sports</a> 
                  and are intended for personal, non-profit use only. The rights of the depicted documents 
                  belong to the Hellenic Ministry of Culture and Sports (Greek Law 3028/2002). 
                  <!-- Any reproduction or publication in whatever form (print, digital, etc.) is strictly prohibited. -->
              <span class="text-muted">
                  © Hellenic Ministry of Culture and Sports / Hellenic Cultural Resources
                  Managing and Development Organization (HCRMDO)
              </span>
              </p>
              </div>
          </div>
      </div> #}

      {# <div class="col-sm-4">
          <div class="panel panel-box">
              <div class="panel-thumbnail"><img src="{{ url_for('static', filename='img/permission.jpg') }}" class="img-responsive"></div>
              <div class="panel-body">
              <h3 id="panel-h3">Terms of use</h3>
              <p class="prose">Texts are reproduced with the kind permission of their respective authors. Their limited re-use in 
                  scholarly works is allowed according to standard academic practices. In this case, please include a reference 
                  to LiBER in the following form:
              </br>
              <span class="text-muted">
                  Del Freo M., Di Filippo F. 2019, <em>Linear B Electronic Resources (LiBER v.2)</em>, viewed 16 March 2021, 
                  <a href="https://liber.cnr.it/">&lt;https://liber.cnr.it/&gt;</a>.
              </span>
              </p>
              </div>
          </div>
      </div> #}

      {# <div class="col-sm-4">
          <div class="panel panel-box">
              <div class="panel-thumbnail"><img src="{{ url_for('static', filename='img/code.jpg') }}" class="img-responsive"></div>
              <div class="panel-body">
              <h3 id="panel-h3">Development</h3>
              <p class="prose">Both text encoding and search engine have been adapted to Linear B from the 
                  <a href="https://www.degruyter.com/document/doi/10.1515/9783110607208-005/html">Progetto Sinleqiunnini</a>, 
                  a Document Management System developed by Francesco Di Filippo, already employed for the cuneiform archives 
                  from <a href="http://ebda.cnr.it/">Ebla</a> and <a href="http://virgo.unive.it/emaronline/cgi-bin/index.cgi">Emar</a>.</p>
              </div>
          </div>
      </div> #}

      <!-- <div class="clearfix"></div>
      <hr> -->

  </div>
  {# contenuto END col-sm-8 #}

  <!-- <div class="col-sm-1"></div> {# margine destro #} -->

</div>
{% endblock %}