{% extends "base.html" %}


{% block app_content %}


<div class="row">
  
  <div class="col-sm-12">

    <figure class="highcharts-figure">
      <div id="chart_gender"></div>
      <p class="highcharts-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <code>quis nostrud</code> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
    </figure>

    <hr>

    <figure class="highcharts-figure">
      <div id="chart_nation"></div>
      <p class="highcharts-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <code>quis nostrud</code> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
    </figure>

    <hr>

    <figure class="highcharts-figure">
      <div id="chart_indirizzo"></div>
      <p class="highcharts-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <code>quis nostrud</code> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
    </figure>

    <hr>

    <figure class="highcharts-figure">
      <div id="chart_affollamento"></div>
      <p class="highcharts-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <code>quis nostrud</code> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
    </figure>

  </div>

</div>

{% endblock %}


{% block scripts %}
{{ super() }}
{# <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script> #}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script type='text/javascript'>
  $(document).ready(function(){

    let chart1 = Highcharts.chart('chart_gender', {

      chart: {
        style: {
          fontFamily: 'Open Sans'
        }
      },

      title: {
        text: 'Iscritti divisi per genere (1992-2021)'
      },

      subtitle: {
          text: 'Fonte: Liceo Amaldi'
      },

      yAxis: {
        title: {
          text: 'Numero iscritti'
        }
      },

      xAxis: {
        categories: {{ gender_data.anni|list|safe }},
        accessibility: {
            rangeDescription: 'Campione: dal 1992 al 2021'
        },
        labels: {
          step: 2, // number to skip
          rotation: -45,
        }
      },

      legend: {
        // layout: 'vertical',
        // align: 'right',
        // verticalAlign: 'middle'
      },

      plotOptions: {
        series: {
          label: {
              connectorAllowed: false
          },
          // pointStart: 1992
        }
      },

      series: [{
        name: 'Totale iscritti',
        // data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        data: {{ gender_data.tot|list }}
      }, {
        name: 'Ragazze',
        data: {{ gender_data.femmine|list }}
      }, {
        name: 'Ragazzi',
        data: {{ gender_data.maschi|list }}
      }],

      responsive: {
          rules: [{
              condition: {
                  maxWidth: 500
              },
              chartOptions: {
                  legend: {
                      layout: 'horizontal',
                      align: 'center',
                      verticalAlign: 'bottom'
                  }
              }
          }]
      }

    });

    let chart2 = Highcharts.chart('chart_nation', {
        
      chart: {
        style: {
          fontFamily: 'Open Sans'
        }
      },
      
      title: {
          text: 'Rapporto sulla cittadinanza degli studenti'
      },
      
      subtitle: {
        text: 'Fonte: Liceo Amaldi'
      },
      
      xAxis: {
        categories: {{ nation_data.anni|list|safe }},
        labels: {
          step: 2, // number to skip
          rotation: -45,
        }
      },
      
      yAxis: {
        min: 0,
        title: {
          text: 'Numero iscritti'
        },
        // opposite: true
      },

      legend: {
        shadow: false
      },

      tooltip: {
        shared: true
      },
      
      plotOptions: {
        column: {
          grouping: false,
          shadow: false,
          borderWidth: 0
        }
      },

      series: [{
        type: 'column',
        name: 'Italiani',
        color: 'rgba(248,161,63,1)',
        data: {{ nation_data.italiani|list }},
        pointPadding: 0.1,
        pointPlacement: 0.2,
      }, {
        type: 'column',
        name: 'Stranieri',
        color: 'rgba(186,60,61,.9)',
        data: {{ nation_data.stranieri|list|safe }},
        pointPadding: 0.2,
        pointPlacement: 0.1,
      },{
        type: 'spline',
        name: 'Iscritti',
        data: {{ nation_data.iscritti|list }},
        marker: {
          lineWidth: 1,
          lineColor: Highcharts.getOptions().colors[0],
          fillColor: 'white',
          enabled: false
        },
        states: {
          hover: {
            lineWidth: 4
          }
        }
      }]
    });


    let chart3 = Highcharts.chart('chart_indirizzo', {

      chart: {
        type: 'column'
      },

      title: {
        text: 'Indirizzo di studio (diviso per genere)'
      },

      subtitle: {
        text: 'Fonte: Liceo Amaldi'
      },

      xAxis: {
        categories: {{ indirizzo_data.anni|list|safe }},
        labels: {
          step: 2,
          rotation: -45,
        },
        plotBands: [
        {
          color: 'rgba(68, 170, 213, 0.1)', // Color value
          from: 10, // Start of the plot band
          to: 15, // End of the plot band
          label: {
            text: 'Succursale</br>Via Oscar Romero',
            style: {
              color: '#606060'
            }
          }
        }, {
          color: 'rgba(68, 170, 213, 0.1)', // Color value
          from: 16, // Start of the plot band
          to: 17, // End of the plot band
          label: {
            text: 'Succursale</br>Via Ponti',
            style: {
              color: '#606060'
            }
          }
        }, {
          color: 'rgba(68, 170, 213, 0.1)', // Color value
          from: 22, // Start of the plot band
          to: 30, // End of the plot band
          label: {
            text: 'Succursale</br>Via Pietrasecca',
            style: {
              color: '#606060'
            }
          }
        }
        ]
      },

      yAxis: {
        min: 0,
        title: {
            text: 'Numero iscritti'
        },
        // opposite: true
      },

      legend: {
        reversed: true
      },

      plotOptions: {
        series: {
            stacking: 'normal'
        }
        // column: {
        //     stacking: 'normal'
        // }
      },

      series: [{
        name: 'Linguistico (M)',
        data: {{ indirizzo_data.linguistico|list|safe }},
        stack: 'M',
      }, {
        name: 'Linguistico (F)',
        data: {{ indirizzo_data.linguisticof|list|safe }},
        stack: 'F'
      }, {
        name: 'Classico (M)',
        data: {{ indirizzo_data.classico|list|safe }},
        stack: 'M'
      }, {
        name: 'Classico (F)',
        data: {{ indirizzo_data.classicof|list|safe }},
        stack: 'F'
      }, {
        name: 'Scientifico (M)',
        data: {{ indirizzo_data.scientifico|list|safe }},
        stack: 'M'
      }, {
      name: 'Scientifico (F)',
      data: {{ indirizzo_data.scientificof|list|safe }},
      stack: 'F'
      // }, {
      //   name: 'privatisti (M)',
      //   data: {{ indirizzo_data.privatisti|list|safe }},
      //   stack: 'M'
      // }, {
      //   name: 'privatisti (F)',
      //   data: {{ indirizzo_data.privatistif|list|safe }},
      //   stack: 'F'
      }]
    });


    var ranges = {{ affollamento_data.ranges|safe }}
    var averages = {{ affollamento_data.avarages|safe }}

    let chart4 = Highcharts.chart('chart_affollamento', {

      title: {
            text: 'Affollamento scolastico (tendenza di alunni per classe)'
        },

      subtitle: {
        text: 'Fonte: Liceo Amaldi'
      },

      xAxis: {
        categories: {{ affollamento_data.anni|safe }},
        labels: {
          step: 2,
          rotation: -45,
        }
          // type: 'datetime',
          // accessibility: {
          //     rangeDescription: 'Range: Jul 1st 2009 to Jul 31st 2009.'
          // }
      },

      yAxis: {
        title: {
          text: 'Numero di studenti per classe'
        },
        // opposite: true
      },

      tooltip: {
          crosshairs: true,
          shared: true,
          // valueSuffix: '°C'
      },

      series: [{
          name: 'Media',
          data: averages,
          zIndex: 1,
          marker: {
              fillColor: 'white',
              lineWidth: 2,
              lineColor: Highcharts.getOptions().colors[0]
          }
      }, {
          name: 'Range',
          data: ranges,
          type: 'arearange',
          lineWidth: 0,
          linkedTo: ':previous',
          color: Highcharts.getOptions().colors[0],
          fillOpacity: 0.3,
          zIndex: 0,
          marker: {
              enabled: false
          }
      }]

    });

  });
</script>
{% endblock %}


{% block styles %}
{{ super() }}
  <style type="text/css">
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
  </style>
{% endblock %}