{% extends "base.html" %}

{% from "_macros.html" import pageCarousel %}


{% block app_banner %}
  
  {{ pageCarousel('Voci', 'img/carousel/carousel_a.jpg') }}

{% endblock %}


{% block app_content %}

<div class="row">
  <div class="col-md-12" role="intro">
    <p class="prose dropcap">
      Per valorizzare la <code>storia del Liceo “Amaldi”</code>, sono state raccolte testimonianze di insegnanti, studenti e 
      studentesse che hanno lavorato o frequentato la scuola a partire dalla sua istituzione. Queste <code>“voci delle memoria”</code> 
      sono state registrate nel rispetto delle <a target=_blank href="https://www.aisoitalia.org/buone-pratiche/"> buone pratiche per la storia orale</a> 
      dell'Associazione Italiana di Storia Orale per mezzo video e audio. Se ne presenta qui un primo nucleo, che 
      potrà essere ampliato nel prossimo futuro.
    </p>
    <p class="prose">
      Le fonti orali rappresentano documenti preziosi per la loro aderenza alla vita degli uomini e delle donne che 
      attraversano la storia con le loro biografie singole e collettive. Ci narrano aspetti della vita quotidiana 
      difficilmente reperibili in altre tipologie documentarie. Si presentano uniche ed irripetibili poiché costruite 
      nel dialogo tra intervistato ed intervistatore e si è perciò scelto di affidare completamente agli studenti e 
      alle studentesse coinvolti nel progetto le decisioni in merito alle modalità di ripresa e alle domande da porre, 
      con qualche indicazione preliminare volta ad orientarli.
    </p>
    <p class="prose">
      Hanno partecipato al gruppo interviste: Silvia Longo, Chiara Colaianni, Cecilia Testoni, Marialetizia Fiorenza, 
      Linda Petruccetti, Danilo Zollino, Niccolò Marino, coordinati dalla prof.ssa Susanna Mattarocci e 
      dalla dott.ssa Giulia Zitelli Conti.
    </p>
  </div>
</div>

<!-- START THE FEATURETTES -->
<div class="row">
  <div class="col-md-12" role="main" id="videos">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" id="1">Prof.ssa Loredana Peruggia<br>
          <span class="text-muted">8 marzo 2022.</span>
        </h2>
        <p class="lead prose">L'arrivo a Tor Bella Monaca, la crescita del liceo, il rapporto con gli studenti e i progetti formativi dell'Amaldi dalla sua fondazione ad oggi nelle parole di una docente che ha svolto qui la maggior parte della sua carriera.</p>
      </div>
      <div class="col-md-5">
        {# <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> #}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_YnnaWCoWHI" title="Liceo Amaldi - Prof.ssa Loredana Peruggia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading" id="2">Vice Preside Adelaide Granese<br>
          <span class="text-muted">19 marzo 2022.</span>
        </h2>
        <p class="lead prose">Da succursale del Francesco D'Assisi a polo culturale del quartiere: tracce della storia dell'Amaldi nel racconto dell'attuale Vice Preside dell'istituto.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wQukUD7vqOk" title="Liceo Amaldi - Vice Preside Adelaide Granese" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" id="3">Gianluca Mattarocci<br>
          <span class="text-muted">19 marzo 2022.</span>
        </h2>
        <p class="lead prose">Dai banchi dell'Amaldi alla cattedra universitaria: l'ex studente Gianluca Mattarocci ricorda gli anni liceali e racconta come abbiano orientato la sua carriera.</p>
      </div>
      <div class="col-md-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lTdL0PfIqOE" title="Liceo Amaldi - Gianluca Mattarocci" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading" id="4">Prof.ssa Francesca De Santis<br>
          <span class="text-muted">29 marzo 2022.</span>
        </h2>
        <p class="lead prose"></p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oRc6qEZv-Xw" title="Liceo Amaldi - Prof.ssa Francesca De Santis" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" id="5">Andrea Costantini, Marco Stilo e Annalisa Branetti<br>
          <span class="text-muted">5 aprile 2022.</span>
        </h2>
        <p class="lead prose">Tre percorsi di vita diversi, accomunati da un'amicizia di lunga data nata nelle aule dell'Amaldi. I ricordi di tre studenti nati nel 1983.</p>
      </div>
      <div class="col-md-5">
        {# <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> #}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bw1d6XhdyvM" title="Liceo Amaldi - Prof.ssa Andrea Costantini, Marco Stilo e Annalisa Branetti" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading" id="6">Prof. Mirko Rovere<br>
          <span class="text-muted">5 aprile 2022.</span>
        </h2>
        <p class="lead prose">Passione per lo sport e fiducia nel rapporto alunno-insegnante: un percorso di studio e lavoro all'interno dell'Amaldi.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0twgNJboGK8?si=i-urYgx9KrADvAGF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" id="7">Ilaria De Santis e Maria Gimelli<br>
          <span class="text-muted">1 giugno 2023.</span>
        </h2>
        <p class="lead prose">Di nuovo compagne di banco: le memorie condivise di due ex studentesse del liceo (1988-1993).</p>
      </div>
      <div class="col-md-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EvnNS8tTlhk?si=RoN5OAnostr-8e0O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading" id="8">Prof. Fabrizio Angeloni<br>
          <span class="text-muted">1 giugno 2023.</span>
        </h2>
        <p class="lead prose">Il progetto della segnaletica, la costruzione di spazi per la didattica: l'esperienza di un professore di Storia dell'arte.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WYr_qVxJpLs?si=f1SK0NMVWTl5jk-V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" id="9">Prof.ssa Maria Gabriella Ianni<br>
          <span class="text-muted">29 marzo 2023.</span>
        </h2>
        <p class="lead prose">Il "fiore all'occhiello di Tor Bella Monaca": il liceo Amaldi nelle memorie di una docente ora in pensione.</p>
      </div>
      <div class="col-md-5">
        {# <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> #}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BIikHVZXCus?si=h08caXUuNNG7ksrX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading" id="10">Prof.ssa Daniela Santese<br>
          <span class="text-muted">29 marzo 2023.</span>
        </h2>
        <p class="lead prose">"Un'isola felice": il liceo e il quartiere, dalla nascita ai giorni nostri.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K3AWIQOUGHU?si=0gaA8efCUirlKGfz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>

  <!-- NAVBAR -->

</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}


{% block styles %}
{{ super() }}

{% endblock %}